body {
  display:flex; 
  flex-direction:column;
  min-height: 100vh;

  }
  
  .header {
    height: 72px;
    background: darkmagenta;
    color: white;
    display:flex;
    align-items:center;
    font-size: 28px;
    font-weight: bold;

  }
  
  .footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar {
    width: 300px;
    background: royalblue;
    box-sizing: border-box;
    flex-shrink:0;
    

    
 
  }
  
  .card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width:300px;
    padding: 16px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .big-wrapper {
    flex: 1;
    display: flex;

  }
  .card-wrapper {
    padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  }
    